@import "scss/_mixins";


.signin_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .signin_text {
    @include mixin-heading;
  }

  .signin_form {
    display: flex;
    flex-direction: column;

    .signin_input_email {
      @include mixin-input;
    }

    .signin_input_password {
      @include mixin-input;
    }

    .signin_submit {
      @include mixin-button;
    }
  }

  .signin_password_forget, .signin_singuplink {
    font-size: 1.5rem;
    margin: 5px 0;
    &:hover {
      color: $color-green;
      font-weight: 700;
    }
    a {
      &:hover {
        color: $color-green;
        font-weight: 700;

      }
    }
  }
}