@import "scss/_mixins";

.password_forget_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .title-password-forget {
    @include mixin-heading;
  }
  form {
    display: flex;
    flex-direction: column;

    input {
      @include mixin-input;
    }

    button {
      @include mixin-button
    }
  }
}