.home_section {
  margin: 5% 0 2%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .user_item {
    margin: 20px 2% 20px 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px solid $color-green;
    border-radius: 10px;
    width: 452px;
    max-height: 500px;

    .user_item_name {
      font-size: 2.5rem;
      color: $color-orange;
      padding: 5px 20px;
      border-radius: 15px;
      background-color: $color-green;
      margin: 10px 0;
    }

    .user_item_description {
      margin-bottom: 0;
      text-align: center;
      font-size: 1.8rem;
      min-height: 65px;
      margin: 10px 0;
      overflow-y: auto;
    }
    .paddingDescription {
      padding-top: 25px;
    }

    //.hover_description {
    //  font-size: 1rem;
    //  color: $color-green;
    //}

    .user_item_price {
      font-size: 2rem;
      margin: 5px 0;
    }

    .user_adres {
      font-size: 2rem;
      margin: 5px 0;
      margin-bottom: 10px;
    }
  }
}