* {
  box-sizing: border-box;
  background-color: $color-orange-light;
  color: $color-maroon;
}

html {
  font-size: 12px;
}

body {
  background-color: $color-orange-light;
  font-family: $font-open-sans;
}

a {
  text-decoration: none;
}