@mixin mixin-button {
  font-size: 2rem;
  padding: 5px 25px;
  margin: 10px auto;
  border: $color-green;
  border-radius: 15px;
  background-color: $color-green;
  color: $color-orange-light;
}

@mixin mixin-input {
  border: 2px solid $color-green;
  border-radius: 10px;
  font-size: 1.8rem;
  margin: 20px;
  padding: 5px 10px;
  color: $color-green;
  &:hover{
    background-color: $color-orange;
  }
  &:focus{
    background-color: $color-orange;
  }
}

@mixin mixin-heading{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-family: $font-kaushan;
}

